<div class="main-content" >
	
<!--TABLEAU DE COMPTES-->
	<div class="card">
		<div class="header">
			<h4 class="title col-md-3">{{ 'client_account_title' | translate }}</h4>
			<!-- Faire une demande d'ouverture de compte -->
      		<button class="btn btn-default col-md-3 col-md-offset-6" (click)="toggleOpenAccount()">{{ 'client_account_openAccount' | translate }}</button>
		</div>
		<div class="content table-responsive table-full-width">
			<!-- Liste des comptes bancaires-->
			<table class="table table-hover table-striped">
				<thead>
					<tr>                                        
						<th>{{ 'client_account_iban' | translate }}</th><th>{{ 'client_account_type' | translate }}</th><th>{{ 'client_account_total' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let compte of accounts" (click)="selectCompte(compte)">
						<td>{{ compte.code }}</td><td>{{ compte.type | translate }}</td><td>{{ compte.solde | number: '.1-2' : 'fr' }} €</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!--TABLEAU D'OPERATIONS (SI UN COMPTE EST SELECTIONNÉ)-->
	<div *ngIf="(selectedCompte)" class="card card-plain">
		<div class="header">
			<div class="row">
				<!-- "Compte n° xxxxx" -->
				<h4 class="title col-md-3">{{ 'client_account_account' | translate }} N° {{ selectedCompte.code }}</h4>
				<!-- "Compte (type) - Dernières opérations" -->
				<span class="category col-md-6">{{ 'client_account_account' | translate }} {{ selectedCompte.type | translate }} - {{ 'client_account_lastOp' | translate }}</span>
				<hr/>
			</div>
		</div>
		
		<!--Contrôles-->
		<div class="row">			
            <div class="col-md-3">
                <div class="form-group">
					<!-- Commander un chèquier -->
					<button *ngIf='(selectedCompte.type == "account_type_current")' class="btn btn-default form-control" (click)="validOrderCheck()">{{ (awaitingConfirm) ? ('client_account_confirm' | translate) : ('client_account_orderCheck' | translate) }}</button>
					<!--Effecture un virement -->
					<button class="btn btn-default form-control" (click)="toggleTransfer()">{{ (transfer) ? ('client_account_checkOp' | translate) : ('client_account_doTransfer' | translate) }}</button>
					<!--Imprimer-->
					<button *ngIf="(!transfer)" class="btn btn-default form-control" (click)="print()"><i class="pe-7s-print"></i>{{ 'client_account_print' | translate }}</button>
                </div>
            </div>
            
            <!--Selection date - début -->
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{ 'client_account_opFrom' | translate }} :</label>
                    <!--(passer la date dans ngModel provoque des problèmes de formatage)-->
					<input type="date" #startDate class="form-control" value='{{ operations[0].dateOperation | date : "yyyy-MM-dd"}}' (change)="refreshStart(startDate.value)"/>
                </div>
            </div>
			<!--Selection date - fin -->
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{ 'client_account_opTo' | translate }} :</label>
					<input type="date" #endDate class="form-control" value='{{ operations[operations.length - 1].dateOperation | date : "yyyy-MM-dd" }}' (change)="refreshEnd(endDate.value)"/>
				</div>
            </div>
            
            <!--Nombre d'opérations à afficher par page  (défaut : 20)-->
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{ 'client_account_display' | translate }} :</label>
                    <!--S'il y a changement, on rafraichit la liste à partir de la première page (index 0)-->
					<select [(ngModel)]="displayedCount" (change)="refreshOperations(0)" class="btn dropdown-toggle form-control">
						<option>1</option>
						<option>10</option>
						<option selected >20</option>
						<option>50</option>
					</select>
				</div>
            </div>
        </div>
		<div class="row">
			<hr/>
		</div>

		<!-- OPERATIONS -->
		<div *ngIf="(!transfer)" class="content table-responsive table-full-width">
			<table class="table table-hover">
				<!--Header-->
				<thead>
					<tr>
						<th>{{ 'client_account_type' | translate }}</th><th>{{ 'client_account_details' | translate }}</th><th>{{ 'client_account_amount' | translate }}</th><th>{{ 'client_account_date' | translate }}</th><th>{{ 'client_account_total' | translate }}</th>
					</tr>
				</thead>
				<!-- Liste des opérations -->
				<tbody>
					<tr *ngFor="let operation of displayedOperations; let i = index">
						<td>{{ operation.type | translate }}</td><td>{{ operation.libelle }}</td><td>{{ operation.montant }} €</td><td>{{ operation.dateOperation | date : "dd/MM/yyyy hh:mm" }}</td><td class="{{ operation.type }}">{{ displayedAmounts[i] |  number:'.1-2' : 'fr' }}€</td>
					</tr>
				</tbody>
			</table>
			<!-- Pagination (voir composant client-pagination) -->
			<div class="row">
				<app-client-pagination class="col-md-offset-3 col-md-6" (goPrev)='prevPage()' (goNext)='nextPage()' (goPage)='goPage($event)' [page]='currentPage + 1' [count]='operations.length' [perPage]='displayedCount' [pagesToShow]='5'></app-client-pagination>
			</div>
		</div>

		<!-- VIREMENT -->
		<div *ngIf="(transfer)" class="card">
			<div class="header">
				<h4 class="title">{{ 'client_account_doTransfer' | translate }}</h4>
				<p class="category">{{ 'client_account_transferInstructions' | translate }}</p>
				<hr/>
			</div>
			<div class="content">
				<form>			
					<div class="row">
						<div class="form-group">
							<div class="col-md-3">
                        		<label for="iban">{{ 'client_account_destIban' | translate }} :</label>
                            	<input required [(ngModel)]="transferDestIBAN" name="iban" type="text" class="form-control" placeholder="{{ 'client_account_destIban' | translate }}" (change)="confirmTransfer = false">
	                		</div>
	                		<div class="col-md-3">
                        		<label for="somme">{{ 'client_account_transferAmount' | translate }} : </label>
                            	<input required [(ngModel)]="transferAmount" name="somme" type="number" class="form-control" value="0" min="0"  (change)="confirmTransfer = false">
	                		</div>
	                		<div class="col-md-3 col-md-offset-3">
	                			<button type="submit" class="btn btn-info form-control btn-fill" (click)="validTransfer()">{{ (confirmTransfer) ? ('client_account_confirm' | translate) : ('client_account_doTransfer' | translate) }}</button>
							</div>
						</div>
					</div>
				</form>
			</div>					
		</div>
	</div>

	<!--OUVERTURE DE COMPTE -->
	<div *ngIf="(openAccount)" class="card">
		<div class="header">
			<h4 class="title">{{ 'client_account_openAccount' | translate }}</h4>
			<p class="category">{{ 'client_account_openAccountInstructions' | translate }} :</p>
			<hr/>
		</div>
		<div class="content">			
			<div class="row">
				<select [(ngModel)]="accountType" class="btn dropdown-toggle col-md-3 col-md-offset-1">
					<option [ngValue]="accountType" selected>{{ 'client_account_type_current' | translate }}</option>
					<option>{{ 'client_account_type_saving' | translate }}</option>
				</select>
                <button type="submit" class="btn btn-info btn-fill col-md-3 col-md-offset-4" (click)="validOpenAccount()">{{ (awaitingConfirm) ? ('client_account_confirm' | translate) : ('client_account_openAccount' | translate) }}</button>
			</div>
		</div>
	</div>
</div>