/*.operation_type_credit{
	background-color : #8BB57D;
	color : white;
}
.operation_type_credit:hover{
	background-color : #6D9E5C;
	color : white;
}
.operation_type_debit{
	background-color : #E7C189;
	color : white;
}
.operation_type_debit:hover{
	background-color : #DCA756;
	color : white;
}*/
.operation_type_credit{
	color : green;
}
.operation_type_debit{
	color : #F28E06;
}