<!-- PAGINATION -->
<div class="pagination" *ngIf="(totalPages() > 1)">
	<!-- "Page x / y" -->
	<span>Page {{ page }} / {{ totalPages() }} --</span>
	<!-- Précédent -->
	<button class="btn btn-primary" (click)="onPrev()" [disabled]="page == 1">{{ 'client_pagination_previous' | translate }}</button>
	<!-- Liste de page -->
	<a *ngFor="let pageNum of getPages()" (click)='onPage(pageNum)'>{{ pageNum + 1}}</a>
	<!-- Suivant -->
	<button class="btn btn-primary" (click)="onNext()" [disabled]="lastPage()">{{ 'client_pagination_next' | translate }}</button>
	<span>-- {{ count }} {{ client_pagination_operations | translate }}</span>
</div>
