<!-- SIDEBAR -->
<div class="sidebar-wrapper">

    <!-- LOGO ET TITRE -->
    <div class="logo">
        <a href="#" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
            GestiBank
        </a>
    </div>

    <!-- NAVIGATION -->
    <ul class="nav responsive-nav">
        <!--On remplit la sidebar avec les titres des routes, en fonction du type d'utilisateur.
            Voir la fonction 'refresh()' dans sidebar.component.ts-->
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p (click)="refresh()">{{menuItem.title | translate}}</p>
            </a>
        </li>
        <!--Si on est sur mobile, le bouton deconnexion se retrouve également dans la sidebar
            TODO : Trouver le bug qui empêche ce bouton de disparaître quand on passe d'une vue mobile à une vue desktop-->
        <div *ngIf="isMobileMenu()">
            <li class="separator hidden-lg hidden-md"></li>
            <li>
                <a routerLinkActive="active">
                    <p routerLink="#">{{'logout' | translate}}</p>
                </a>
            </li>
        </div>

        <!-- CODE DU TEMPLATE (pour l'exemple)-->
        <!--<li *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
				<p class="hidden-lg hidden-md">Dashboard</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isMobileMenu()">
              <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-globe"></i>
                    <b class="caret hidden-sm hidden-xs"></b>
                    <span class="notification hidden-sm hidden-xs">5</span>
					<p class="hidden-lg hidden-md">
						5 Notifications
						<b class="caret"></b>
					</p>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
              </ul>
        </li>
        <li *ngIf="isMobileMenu()">
           <a>
                <i class="fa fa-search"></i>
				<p class="hidden-lg hidden-md">Search</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()">
           <a href="">
               <p>Account</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isMobileMenu()">
              <a class="dropdown-toggle" data-toggle="dropdown">
                    <p>
    					Dropdown
    					<b class="caret"></b>
    				</p>

              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
        </li>-->
    </ul>
</div>
