<div class="main-content" >
	<div class="card card-plain">
		<!--HEADER-->
		<div class="header">
			<!--Titre-->
			<h4 class="title">{{ 'client_notifications_title' | translate }}</h4>
			<!--Sous-titre-->
			<p class="category">{{ (getUnreadNotificationsCount() > 1) ? getUnreadNotificationsCount() + " " + ('client_notifications_infos_many' | translate) : (getUnreadNotificationsCount() == 0) ? ('client_notifications_infos_none' | translate) : ('client_notifications_infos_one' | translate) }}</p>
		</div>
		
		<!--TABLEAU DE NOTIFICATIONS-->
		<div class="content table-responsive table-full-width">
			<table class="table table-hover">
				<thead>
					<!--En-tête-->
					<tr>
						<th class="col-md-8">{{ 'client_notifications_details' | translate }}</th><th class="col-md-2">{{ 'client_notifications_date' | translate }}</th><th class="col-md-2"></th>
						<!--<th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>-->
					</tr>
				</thead>
				<!--Lignes-->
				<tbody>
					<tr *ngFor="let notif of client.notifications" (click)="notif.isRead = true" class='{{ (notif.isRead) ? "" : "unreadNotif" }}'><!--classe unreadNotif redéfinie dans le css-->
						<td class="col-md-8">{{ notif.libelle }}</td><td class="col-md-2">{{ notif.date | date : "dd/MM/yy hh:mm" }}</td><td class="col-md-2"><button (click)="deleteNotification(notif)" class="btn btn-danger btn-xs">{{ 'effacer' | translate }}</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>