
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Fiche conseiller <!-- ajouter le nom du conseiller ! --></h4>
                    </div>
                    <div class="content">
                        <form [formGroup] = "formulaire" (ngSubmit)="onSubmit()" novalidate>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Matricule</label>
                                        <input type="text" class="form-control" disabled placeholder="Matricule" value="000000000" formControlName="matricule">
                                    </div>
                                </div>
                                
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Adresse Email</label>
                                        <input type="email" class="form-control" placeholder="email@exemple.com" formControlName="email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Prénom</label>
                                        <input type="text" class="form-control" placeholder="Prénom" formControlName="prenom">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
                                    </div>
                                </div>
                            </div>

                            <div formGroupName="adresse">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Adresse</label>
                                            <input type="text" class="form-control" placeholder="Adresse" formControlName="rue">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ville</label>
                                            <input type="text" class="form-control" placeholder="Ville" formControlName="ville">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Code Postal</label>
                                            <input type="number" class="form-control" placeholder="Code Postal" formControlName="cp">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <label>Clients</label>
                            <!-- <div class="card"> -->
                                <div class="content table-responsive table-full-width">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th>ID</th>
                                              <th>Prénom</th>
                                              <th>Nom</th>
                                              <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of conseiller.clients">
                                                <td>{{ row.id }}</td>
                                                <td>{{ row.prenom }}</td>
                                                <td>{{ row.nom }}</td>
                                                <td>{{ row.email }}</td>                                              
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            <!-- </div> -->

                            <!-- TODO: ajouter la liste des demandes -->
                            <label>Demandes</label>
                            <!-- <div class="card"> -->
                                <div class="content table-responsive table-full-width">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Statut</th>
                                                <th>Prénom</th>
                                                <th>Nom</th>
                                                <th>Date de demande</th>
                                                <th>Date d'affectation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of conseiller.demandes">
                                                <td>{{ row.statut }}</td>
                                                <td>{{ row.coordonnees.prenom }}</td>
                                                <td>{{ row.coordonnees.nom }}</td>
                                                <td>{{ row.date | date:'dd/MM/yyyy' }}</td>   
                                                <td>{{ row.dateAffectation | date:'dd/MM/yyyy' }}</td>                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">{{(this.creer) ? 'Créer' : 'Modifier'}}</button>                         
                            <button *ngIf="creer" type="reset" (click)="revert()" [disabled]="formulaire.pristine" class="btn btn-danger">Effacer</button> 
                            <button *ngIf="!creer" type="reset" (click)="supprConseiller()" [disabled]="conseiller.clients.length != 0" class="btn btn-danger">Supprimer</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>

