
<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="header">
                <h3 class="title">{{ 'admin_fiche_conseiller_titre' | translate }} : {{ conseiller.prenom }} {{ conseiller.nom }}</h3>
            </div>
            <div class="content">
                <form [formGroup] = "formulaire" (ngSubmit)="onSubmit()" novalidate>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>{{ 'admin_fiche_conseiller_form_matricule' | translate }}</label>
                                <input type="text" class="form-control" disabled placeholder="Matricule" value="000000000" formControlName="matricule" required>
                            </div>
                        </div>
                        
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ 'admin_fiche_conseiller_form_email' | translate }}</label>
                                <input type="email" class="form-control" placeholder="email@exemple.com" formControlName="email" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'prenom' | translate }}</label>
                                <input type="text" class="form-control" placeholder="{{ 'prenom' | translate }}" formControlName="prenom" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'nom' | translate }}</label>
                                <input type="text" class="form-control" placeholder="{{ 'nom' | translate }}" formControlName="nom" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'tel' | translate }}</label>
                                <input type="text" class="form-control" placeholder="0000000000" formControlName="numTel" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'nomUtilisateur' | translate }}</label>
                                <input type="text" class="form-control" placeholder="{{ 'nomUtilisateur' | translate }}" formControlName="nomUtilisateur" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'mdp' | translate }}</label>
                                <input type="text" class="form-control" placeholder="{{ 'mdp' | translate }}" formControlName="mdp" required>
                            </div>
                        </div>
                        <div *ngIf="creer" class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'dateDebutContrat' | translate }}</label>
                                <input type="date" class="form-control" formControlName="dateDebutContrat" useValueAsDate required>
                            </div>
                        </div>
                        <div *ngIf="!creer" class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'dateDebutContrat' | translate }}</label>
                                <input type="date" class="form-control" disabled placeholder="{{ this.conseiller.dateDebutContrat }}" formControlName="dateDebutContrat" useValueAsDate required>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!creer">
                        <!-- la liste des clients dans un tableau -->
                        <label>{{ 'clients' | translate }}</label>
                        <div class="card">
                        <div class="content table-responsive table-full-width">
                            <table class="table">
                                <thead>
                                    <tr>
                                      <th>ID</th>
                                      <th>{{ 'prenom' | translate }}</th>
                                      <th>{{ 'nom' | translate }}</th>
                                      <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of conseiller.clients">
                                        <td>{{ row.id }}</td>
                                        <td>{{ row.prenom }}</td>
                                        <td>{{ row.nom }}</td>
                                        <td>{{ row.email }}</td>                                              
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>

                        <!-- la liste des demandes dans un tableau -->
                        <label>{{ 'demandes' | translate }}</label>
                        <div class="card">
                        <div class="content table-responsive table-full-width">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>N° </th>
                                        <th>{{ 'prenom' | translate }}</th>
                                        <th>{{ 'nom' | translate }}</th>
                                        <th>{{ 'dateDemande' | translate }}</th>
                                        <th>{{ 'dateAffectation' | translate }}</th>
                                        <th>{{ 'statut' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of conseiller.demandes">
                                        <td>{{ row.id }}</td>
                                        <td>{{ row.coordonnees.prenom }}</td>
                                        <td>{{ row.coordonnees.nom }}</td>
                                        <td>{{ row.date | date:'dd/MM/yyyy' }}</td>   
                                        <td>{{ row.dateAffectation | date:'dd/MM/yyyy' }}</td>   
                                        <td>{{ row.statut }}</td>                                         
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill pull-right">{{(this.creer) ? ('creer' | translate) : ('modifier' | translate)}}</button>                         
                    <button *ngIf="creer" type="reset" (click)="revert()" [disabled]="formulaire.pristine" class="btn btn-danger">{{ 'effacer' | translate }}</button> 
                    <button *ngIf="!creer" type="reset" (click)="supprConseiller()" [disabled]="conseiller.clients.length != 0" class="btn btn-danger" title="Un conseiller ne peut être supprimé que si sa liste de clients est vide">{{ 'suppr' | translate }}</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    
</div>

