<div class="main-content" >
    <div class="container-fluid">
    	<div class="row">
            <div class="col-md-10">
                <div class="card">

                	<!-- Interface admin : rechercher un conseiller par nom ou matricule -->
                	<div class="header">
						<h3>Gestion des conseillers</h3>
					</div>

					<div class="content">
						<div class="row">
							<div class="col-md-6">					
								
								<!-- Recherche de conseiller -->

								<div class="form-group">
										
									<label>Rechercher un conseiller par nom/matricule</label>
									<input [(ngModel)]="conseillerRecherche" type="text" value="" placeholder="Nom/Matricule" class="form-control" (keydown.enter)="clicRechercher()"/>
									<button (click)="clicRechercher()" type="submit" class="btn btn-info btn-fill pull-right">Rechercher</button> <!-- mener à la fiche du conseiller recherché s'il existe --> <!-- effacer routerLink="/ficheConseiller" quand vérif fonctionne -->	
									
								</div>							
								
							</div>	

							<div class="col-md-6">

								<!-- Création d'un conseiller -->

								<div class="form-group">
									<label>Nouveau conseiller</label>
									<input [(ngModel)]="nomConseillerACreer" type="text" value="" placeholder="Nom du conseiller" class="form-control" (keydown.enter)="afficherNouvelleFiche()"/>
									<button (click)="afficherNouvelleFiche()" type="submit" class="btn btn-info btn-fill pull-right">Créer</button>
								</div>

							</div>			
						</div>

					</div>

				</div>

				<div class="card" *ngIf="(isSearching)">

                	<!-- Interface admin : rechercher un conseiller par nom ou matricule -->
                	<!-- https://valor-software.com/ngx-bootstrap/#/accordion -->
                	<accordion>
  						<accordion-group [isOpen]="derouler" heading="Selectionner un conseiller :">
                			
							<h4 *ngIf="isLoading"><i>Recherche conseillers ... </i></h4>
							<!-- <h4 *ngIf="!isLoading">Selectionner un conseiller :</h4> --> 							

							<div class="content">

								<div class="row">
									<div class="col-md-12">			
									
										<nav>
											<a *ngFor="let conseiller of conseillers | async" (click)="select(conseiller)"><p>{{ conseiller.matricule }}: {{conseiller.prenom}} {{conseiller.nom}}</p></a>
											<p *ngIf="(conseillers | async)?.length==0">Pas de conseiller correspondant</p>
										</nav>									
								
									</div>
								</div>
						
							</div>
						</accordion-group>
					</accordion>
				</div>

				
			</div>
		</div>
		
		<div *ngIf="selectedConseiller">			  	
			<admin-fiche-conseiller [conseiller]="selectedConseiller" (onDelete)="onDelete($event)"></admin-fiche-conseiller>								
		</div>

		<div *ngIf="nouvelleFiche">			  	
			<admin-fiche-conseiller [conseiller]="nouveauConseiller" [creer]="true" (onCreate)="onCreate($event)"></admin-fiche-conseiller>							
		</div>

	</div>

</div>
