<!-- ========== Interface admin : rechercher un conseiller par nom ou matricule ========== -->
<div class="main-content" >
    <div class="container-fluid">    	
    	<div class="row">
            <div class="col-md-10">

            	<!-- ========== Première section visible au chargement de la page ========== -->
                <div class="card">
                	<!-- ========== Titre ========== -->
                	<div class="header">
						<h3>{{ 'admin_conseillers_titre' | translate }}</h3>
					</div>

					<!-- ========== Contenu ========== -->
					<div class="content">
						<div class="row">
							<!-- ========== Recherche de conseiller ========== -->
							<div class="col-md-6">								
								<div class="form-group">
									<label>{{ 'admin_conseillers_label_recherche' | translate }}</label>
									<input [(ngModel)]="conseillerRecherche" type="text" value="" placeholder="{{ 'admin_conseillers_placeholder_recherche' | translate }}" class="form-control" (keydown.enter)="clicRechercher()"/>
									<button (click)="clicRechercher()" type="submit" class="btn btn-info btn-fill pull-right">{{ 'admin_conseillers_btn_rechercher' | translate }}</button>	
								</div>								
							</div>	

							<!-- ========== Création d'un conseiller ========== -->
							<div class="col-md-6">								
								<div class="form-group">
									<label>{{ 'admin_conseillers_label_creer' | translate }}</label>
									<input [(ngModel)]="nomConseillerACreer" type="text" value="" placeholder="{{ 'admin_conseillers_placeholder_creer' | translate }}" class="form-control" (keydown.enter)="afficherNouvelleFiche()"/>
									<button (click)="afficherNouvelleFiche()" type="submit" class="btn btn-info btn-fill pull-right">{{ 'admin_conseillers_btn_creer' | translate }}</button>
								</div>
							</div>			
						</div>
					</div>
				</div>

				<!-- ========== Section visible après validation de la recherche de conseiller ========== -->
				<div class="card" *ngIf="(isSearching)">
                	<!-- https://valor-software.com/ngx-bootstrap/#/accordion -->
                	<accordion>
  						<accordion-group [isOpen]="derouler">
                			<div accordion-heading class="clearfix">
						     	<h4 *ngIf="isLoading"><i>{{ 'admin_conseillers_isLoading' | translate }}</i></h4>
								<h4 *ngIf="!isLoading">{{ 'admin_conseillers_accordion_heading' | translate }}</h4>	
								<!-- TODO : ajouter une fleche -->      
						    </div>
							
							<div class="content">
								<div class="row">
									<div class="col-md-12">			
									
										<nav>
											<a *ngFor="let conseiller of conseillers | async" (click)="select(conseiller)"><p>{{ conseiller.matricule }}: {{conseiller.prenom}} {{conseiller.nom}}</p></a>
											<p *ngIf="(conseillers | async)?.length==0">{{ 'admin_conseillers_noAgent' | translate }}</p>
										</nav>									
								
									</div>
								</div>						
							</div>
						</accordion-group>
					</accordion>
				</div>				
			</div>
		</div>
		
		<!-- ========== Nouveau composant : fiche conseiller remplie avec les infos du conseiller recherché (modifiable) ========== -->
		<div *ngIf="selectedConseiller">			  	
			<admin-fiche-conseiller [conseiller]="selectedConseiller" (onDelete)="onDelete($event)"></admin-fiche-conseiller>							
		</div>

		<!-- ========== Nouveau composant : fiche conseiller vide (modifiable) ========== -->
		<div *ngIf="nouvelleFiche">			  	
			<admin-fiche-conseiller [conseiller]="nouveauConseiller" [creer]="true" (onCreate)="onCreate($event)"></admin-fiche-conseiller>			
		</div>

	</div>

</div>
