<div class="main-content" >
    <div class="container-fluid">
    	
		<div class="row">
            <div class="col-md-8">
                <div class="card">

                	<div class="header">
						<h3>Gestion des affectations</h3>
					</div>

					<div class="content">
						
								<!-- Ajouter la liste des demandes d'ouverture de compte etc... p15 -->
								<div class="row">
									<div class="col-md-8">
										<h4>Liste des demandes d'ouverture de compte</h4>
									</div>

									<div class="col-md-3 col-md-offset-1">
										<!-- Filter les demandes affectées ou non -->
										<div class="dropdown">
											<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
												Filtrer les demandes
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Toutes les demandes</a></li>
												<li role="presentation" class="divider"></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Demandes non affectées</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Demandes affectées</a></li>			
												<li role="presentation" class="divider"></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">En cours</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Traitée</a></li>												
											</ul>
										</div>
									</div>
									
								</div>

								<div class="content table-responsive table-full-width">
							        <table class="table">
							                <thead>
							                    <tr>
							                      <th class="text-center">{{ tableData1.headerRow[0] }}</th>
							                      <th>{{  tableData1.headerRow[1]  }}</th>
							                      <th>{{  tableData1.headerRow[2] }}</th>
							                      <th>{{  tableData1.headerRow[3]  }}</th>
							                      <th>{{  tableData1.headerRow[4]  }}</th>
							                      <th>{{  tableData1.headerRow[5]  }}</th>
							                    </tr>
							                </thead>
							              <tbody>
							                  <tr *ngFor="let row of tableData1.dataRows">
							                      <td class="text-center">{{ row[0] }}</td>
							                      <td>{{ row[1] }}</td>
							                      <td>{{ row[2] }}</td>
							                      <td>{{ row[3] }}</td>
							                      <td>{{ row[4] }}</td>
							                      <td>{{ row[5] }}</td>
							                      <td class="td-actions text-right">
							                          <a rel="tooltip" title="Affecter demande" class="btn btn-info btn-simple btn-xs" (click)="affecter=true">
							                              <i class="fa fa-user"></i>
							                          </a>
							                          <a rel="tooltip" title="Modifier Affectation" class="btn btn-success btn-simple btn-xs" (click)="modifier=true">
							                              <i class="fa fa-edit"></i>
							                          </a>
							                          <a rel="tooltip" title="Supprimer" class="btn btn-danger btn-simple btn-xs">
							                              <i class="fa fa-times"></i>
							                          </a>
							                      </td>
							                  </tr>
							              </tbody>
							        </table>
							    </div>
							    
					</div>

					<!-- A afficher si on clique sur le bouton dans le tableau -->
					<div *ngIf="(affecter)">
						<div class="header">
							<h4>Associer la demande au conseiller : </h4>
						</div>

						<div class="content">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<input type="text" value="" placeholder="Input" class="form-control" />
										<button class="btn btn-primary btn-fill" (click)="affecter=false">Valider</button>
									</div>
								</div>				
							</div>
						</div>
					</div>

					<!-- A afficher si on clique sur le bouton dans le tableau -->
					<div *ngIf="(modifier)">
						<div class="header">
							<h4>Affecter le client au conseiller : </h4>
						</div>

						<div class="content">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<input type="text" value="" placeholder="Input" class="form-control" />
										<button class="btn btn-primary btn-fill" (click)="modifier=false">Valider</button>
									</div>
								</div>				
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>