<div class="main-content" >
<div class="container-fluid">

<div class="row">
<div class="col-md-10">
<div class="card">

<!-- ============== Titre ============== -->
<div class="header">
	<h3>{{ 'admin_affectations_titre' | translate }}</h3>
</div>

<!-- ============== Contenu ============== -->
<div class="content">
	<!-- ============== PREPARATION DES ONGLETS ============== -->
	<ul role="tablist" class="nav nav-tabs">
		<li role="presentation" class="active">
			<a href="#demandes" data-toggle="tab" (click)="changerOnglet()">{{ 'demandes' | translate }}</a>
		</li>
		<li>
			<a href="#change" data-toggle="tab" (click)="changerOnglet()">Modifications</a>
		</li>
	</ul>
	
	<!-- ============== ONGLET DEMANDES ============== -->
	<!-- TODO : pb quand page rétrécie, + p15 -->						
	<div class="tab-content">
		<div id="demandes" class="tab-pane active">

			<!-- ============== Titre ============== -->
			<div class="header">				
				<h4>{{ 'admin_affectations_tableau_titre' | translate }}</h4>
			</div>

			<!-- ============== Bouton de filtrage ============== -->
			<div class="content">
				<div class="dropdown">
					<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
						{{ 'admin_affectations_bouton_filtre' | translate }}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" tabindex="-1" (click)='getDemandes()'>Toutes les demandes</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1"  (click)="filtrerDemandes('nonAffectee')">Demandes non affectées</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" (click)="filtrerDemandes('affectee')">Demandes affectées</a></li>			
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" (click)="filtrerDemandes('enCours')">En cours</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" (click)="filtrerDemandes('traitee')">Traitée</a></li>				
					</ul>
				</div>										
			</div>

			<!-- ============== Tableau des demandes ============== -->
			<div class="content table-responsive table-full-width">
		        <table class="table table-hover">
		        	<!-- Titres des colonnes -->
	                <thead>
	                    <tr>
	                    	<th class="text-right">N°</th>
	                      	<th>{{ 'prenom' | translate }}</th>
	                      	<th>{{ 'nom' | translate }}</th>
	                      	<th><a (click)='trierDateDemande()'>{{ 'dateDemande' | translate }}</a></th> <!-- tri de la colonne au clic sur son titre -->
	                      	<th><a (click)='trierDateAffectation()'>{{ 'dateAffectation' | translate }}</a></th> <!-- tri de la colonne au clic sur son titre -->
	                      	<th>{{ 'statut' | translate }}</th>
	                    </tr>
	                </thead>
	                <!-- Contenu des lignes récupéré depuis une liste de demandes -->
	              	<tbody>
	                  	<tr *ngFor="let demande of demandes | async">
	                  		<td class="text-right">{{ demande.id }}</td>
	                      	<td>{{ demande.coordonnees.prenom }}</td>
	                      	<td>{{ demande.coordonnees.nom }}</td>							                      
	                      	<td>{{ demande.date | date:'dd/MM/yyyy'}}</td>
	                      	<td>{{ demande.dateAffectation | date:'dd/MM/yyyy'}}</td>
	                      	<td>{{ demande.statut }}</td>
	                      	<!-- bouton pour affecter la demande à un conseiller -->
	                      	<td><a href="/admin_affectations#association"><button *ngIf="demande.dateAffectation == undefined" (click)="affect(demande)" class="btn btn-danger btn-xs">{{ 'affecter' | translate }}</button></a></td>							                      
	                  	</tr>
	              	</tbody>
		        </table>
		        <!-- Affichage lors du chargement du tableau -->
		        <p *ngIf="isLoading" class="text-center"><i>{{ 'loading' | translate }}</i></p>
		    </div>							    
		
		
			<!-- ============== S'affiche si on clique sur le bouton dans le tableau ============== -->
			<div *ngIf="(affecter)" id="association">
				<!-- ============== Titre de la section pour indiquer la demande sélectionnée ============== -->
				<div class="header">
					<h4>Associer la demande n° {{ selectedDemande.id }} du {{ selectedDemande.date | date:'dd/MM/yyyy' }} ({{ selectedDemande.libelle }}) au conseiller : </h4> <!-- todo : traduction... -->
				</div>

				<!-- ============== Input pour rechercher un conseiller auquel affecter la demande ============== -->
				<div class="content">
					<div class="row">
						<div class="col-md-5">
							<div class="form-group">
								<input type="text" value="" placeholder="Conseiller" class="form-control" [(ngModel)]="conseillerRecherche" (keydown.enter)="clicRechercherConseiller()"/>
								<button type="submit" class="btn btn-info btn-fill pull-right" (click)="clicRechercherConseiller()">Valider</button> 
							</div>
						</div>				
					</div>
				</div>
			</div>					

			<!-- ============== Recherche les conseillers compatibles ============== -->
	    	<div class="header" *ngIf="(isSearching)">
				<h4 *ngIf="isLoading"><i>{{ 'admin_conseillers_isLoading' | translate }}</i></h4>
				<h4 *ngIf="!isLoading">Selectionner le conseiller :</h4> <!-- todo: traduction -->
			</div>

			<!-- ============== Section qui apparait lorsque l'on recherche un conseiller ============== -->
			<div class="content" *ngIf="(isSearching)">
				<div class="row">
					<div class="col-md-12">									
						<!-- ============== Affichage d'une liste de conseillers ============== -->
						<nav>
							<!-- On clique sur le conseiller pour affecter la demande -->
							<a *ngFor="let conseiller of conseillers | async" (click)="select(conseiller)"><p>{{ conseiller.matricule }} : {{conseiller.prenom}} {{conseiller.nom}}</p></a>
							<!-- S'affiche si la recherche ne donne pas de résultat -->
							<p *ngIf="(conseillers | async)?.length==0">{{ 'admin_conseillers_noAgent' | translate }}</p>
						</nav>
						
					</div>
				</div>					
			</div>
		</div>

		<!-- ============== ONGLET MODIFICATIONS ============== -->
		<div id="change" class="tab-pane">
			<div class="content">
				<!-- ============== Titre ============== -->
				<div class="row">
					<div class="col-md-8">
						<h4>Changement d'affectation</h4> <!-- todo: traduction -->
					</div>							
				</div>
				
				<!-- ============== Recherche de client et de conseiller ============== -->
				<div class="form-group">
					
					<div class="row">
						<!-- ============== Formulaire pour rechercher et selectionner le client ============= -->
						<div class="col-md-6">
							<!-- ============== Ancien code 1 ============= -->
							<!-- <label>Client</label>
							<div class="form-group">
								<input [(ngModel)]="clientRecherche" type="text" value="" placeholder="Client" class="form-control" (keydown.enter)="clicRechercherClient()"/>
								<button type="submit" class="btn btn-info btn-fill pull-right" (click)="clicRechercherClient()">Rechercher</button> 
							</div>
							
							<h4 *ngIf="isLoadingClient"><i>Recherche clients ... </i></h4>
							<div *ngFor="let client of clients | async">									
								<label>										
									<input type="radio" name="optionsRadiosClients" data-toggle="radio" (click)="this.selectedClient=client">
									<i></i>{{ client.id }} : {{client.prenom}} {{client.nom}}
								</label>
							</div>
							<i *ngIf="(clients | async)?.length==0">Pas de client correspondant</i> -->
						
							<!-- ============== Ancien code 2 ============= -->
							<!-- <label>Client</label>
							<div class="dropdown">
								<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
									<i *ngIf="!this.selectedClient">Choisir le client : </i>
									<i *ngIf="this.selectedClient"> {{ selectedClient.prenom }} {{ selectedClient.nom }} </i>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">  todo : la recherche ne fonctionne pas 
									<li>
										<input [(ngModel)]="clientRecherche" type="search" value="" placeholder="Rechercher client" class="form-control" (keydown)="clicRechercherClient()"/>
									</li>
									<li role="presentation" class="divider"></li>
									<li role="presentation" *ngFor="let client of clients | async"><a role="menuitem" (click)="this.selectedClient=client"> {{ client.id }} : {{client.prenom}} {{client.nom}}</a></li>
									<li *ngIf="(clients | async)?.length==0">Pas de client correspondant</li>
								</ul>
								<select class="btn dropdown-toggle">
									<option>
										<input [(ngModel)]="clientRecherche" type="text" value="" placeholder="Rechercher client" class="form-control" (keydown)="clicRechercherClient()"/>
									</option>
									<option *ngFor="let client of clients | async"><a role="menuitem" (click)="this.selectedClient=client"> {{ client.id }} : {{client.prenom}} {{client.nom}}</a></option>
								</select> 
							</div> -->

							<!-- ============== Nouveau code ============= --> 
							<form [formGroup]="modifForm">									
								<ng-template #customClientTemplate let-modelClient="item" let-index="index">
								   <h5>{{ modelClient.prenom }} {{ modelClient.nom }} </h5>
								</ng-template>
								<label>Client</label>
								<input [(ngModel)]="clientRecherche"
										formControlName="client"
								       [typeahead]="this.clientsDataSource"
								       [typeaheadScrollable]="true"
								       [typeaheadOptionsInScrollableView]="5"
								       [typeaheadMinLength]="0"
								       typeaheadOptionField="nom"
								       [typeaheadItemTemplate]="customClientTemplate"
								       placeholder="Rechercher un client"
								       (typeaheadOnSelect)="typeaheadOnSelectClient($event)"
								       class="form-control"> <!-- todo : traduction -->
							</form>

						</div>
					
						<!-- ============== Formulaire pour rechercher et selectionner le conseiller ============= -->
						<div class="col-md-6">
							<!-- ============== Ancien code ============= -->
							<!-- <label>Conseiller</label>
							<div class="form-group">
								<input [(ngModel)]="conseillerRecherche" type="text" value="" placeholder="Conseiller" class="form-control" (keydown.enter)="clicRechercherConseiller()"/>
								<button type="submit" class="btn btn-info btn-fill pull-right" (click)="clicRechercherConseiller()">Rechercher</button> 
							</div>
							
							<h4 *ngIf="isLoading"><i>Recherche conseillers ... </i></h4>
							<div *ngFor="let conseiller of conseillers | async">
								<label>										
									<input type="radio" name="optionsRadiosConseillers" data-toggle="radio" (click)="this.selectedConseiller=conseiller">
									<i></i>{{ conseiller.matricule }} : {{conseiller.prenom}} {{conseiller.nom}}
								</label>	
							</div>	
							<i *ngIf="(conseillers | async)?.length==0">Pas de conseiller correspondant</i>	 -->
							
							<!-- ============== Nouveau code ============= --> 
							<!-- https://valor-software.com/ngx-bootstrap/#/typeahead -->
							<!-- <pre class="card card-block card-header">Conseiller : {{ conseillerRecherche | json }} </pre> -->
							<form [formGroup]="modifForm">									
								<ng-template #customConseillerTemplate let-model="item" let-index="index">
								   <h5>{{model.matricule | json}} : {{ model.prenom }} {{ model.nom }} </h5>
								</ng-template>
								<label>Conseiller</label>
								<input [(ngModel)]="conseillerRecherche"
										formControlName="conseiller"
								       [typeahead]="this.conseillersDataSource"
								       [typeaheadScrollable]="true"
								       [typeaheadOptionsInScrollableView]="5"
								       [typeaheadMinLength]="0"
								       typeaheadOptionField="nom"
								       [typeaheadItemTemplate]="customConseillerTemplate"
								       placeholder="Rechercher un conseiller"
								       (typeaheadOnSelect)="typeaheadOnSelectConseiller($event)"
								       class="form-control"> <!-- todo: traduction -->
							</form>					
						</div>
					</div>

					<!-- ============== Paragraphe d'explications ============= -->
					<div class="content">
						<div class="row">
							<p>Indiquer le client dont l'affectation doit être modifiée, ainsi que le nouveau conseiller auquel on affecte le client</p> <!-- todo: traduction -->
						</div>
					</div>

					<!-- ============== Bouton de validation ============= -->
					<div class="content">
						<div class="row">
							<div class="col-md-2 col-md-offset-10">
								<button class="btn btn-primary btn-round" (click)="validerModifConseiller()">{{ 'valider' | translate }}</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>	
</div>

</div>
</div>
</div>
</div>
</div>