<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{ 'client_profile_title' | translate }}</h4>
                    </div>
                    <div class="content">

                        <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <!--- LIGNE 1 -->
                            <div class="row">
                                <!--Pseudo-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'client_profile_username' | translate}}</label>
                                        <input type="text" class="form-control" formControlName="username" required/>
                                    </div>
                                </div>
                                <!--Nom-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'client_profile_lastName' | translate}}</label>
                                        <input type="text" class="form-control" formControlName="lastname" required/>
                                    </div>
                                </div>
                                <!--Prenom-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'client_profile_firstName' | translate}}</label>
                                        <input type="text" class="form-control" formControlName="firstname" required/>
                                    </div>
                                </div>
                            </div>
                            
                            <!--LIGNE 2-->
                            <div class="row">
                                <!--Téléphone-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'client_profile_phone' | translate}} ({{'client_profile_optional' | translate}})</label>
                                        <input type="text" class="form-control" formControlName="phone"/>
                                    </div>
                                </div>
                                <!--Mail-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'client_profile_mail' | translate}}</label>
                                        <input type="text" class="form-control" formControlName="email" required/>
                                    </div>
                                </div>
                                <!--Entreprise-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'client_profile_mat' | translate}} ({{'client_profile_optional' | translate}})</label>
                                        <select class="btn dropdown-toggle form-control" formControlName="mat">
                                            <option>{{ 'client_profile_single' | translate }}</option>
                                            <option>{{ 'client_profile_married' | translate }}</option>
                                            <option>{{ 'Pacsé(e)' | translate }}</option>
                                            <option>{{ 'En couple' | translate }}</option>
                                            <option>{{ 'Veuf(ve)' | translate }}</option> <!-- todo -->
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--LIGNE 3-->
                            <div class="row">
                                <div class="col-md-12">
                                    <!--Adresse-->
                                    <div class="form-group">
                                        <label>{{'client_profile_address' | translate}}</label>
                                        <input type="text" class="form-control" formControlName="address" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--Ville-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'client_profile_city' | translate}}</label>
                                        <input type="text" class="form-control" formControlName="city" required/>
                                    </div>
                                </div>
                                <!--Code Postal-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'client_profile_zipcode' | translate}}</label>
                                        <input type="text" class="form-control" formControlName="zipcode" required/>
                                    </div>
                                </div>
                                <!--Pays-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'client_profile_country' | translate}}</label>
                                        <input type="text" class="form-control" formControlName="country" required/>
                                    </div>
                                </div>

                            </div>                             
                            <div class="row">
                                <div class="col-md-12">
                                    <!--Valider-->
                                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">{{'client_profile_update' | translate}}</button>
                                    <!--Annuler (redirection vers accueil)-->
                                    <button type="button" class="btn btn-warning" (click)="redirectUserPage()">{{'client_profile_cancel' | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>