<div class="main-content" >
    <div class="container-fluid">
    	<div class="row">
            <div class="col-md-8">
                <div class="card">

                	<!-- Interface admin : Accueil -->
                	<div class="header">
						<h3>Bienvenue dans l'espace d'administration</h3>
					</div>

					<div class="content">
						<div class="row">
							<div class="col-md-12">
								<h4>Vous pouvez sélectionner l'action que vous souhaitez effectuer dans le menu</h4>
								<p>Conseillers : Gérer les fiches des conseillers et créer de nouvelles fiches</p>		
								<p>Affectations : Gérer les demandes d'ouverture de compte et (ré)affecter les clients aux conseillers</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		
	</div>
</div>